extends partials/layout

block title
    title TinyCranes • Index
block content

    header.masthead
        h2 Hi, I'm Kevin.<span class="spacer"><br></span> I build things!

        nav.nav-links
            a.cutout(href="#about") About
            //- a.cutout(href="#") Posts
            a.cutout(href="/portfolio/") Work

    section.about#about

        img.avatar(src="avatar.jpg")
        h4 About Myself
        p I may be a new graduate, but what I lack in depth I make up for in breadth. I've worked on nearly every level of abstraction, from optimizing matrix operations in assembly to systems and network programming using C and Python. I develop games in C++ and C♯, and have contributed to web services written in JavaScript.
        p Building things is a bit of an obsession for me.  Give me an hour and some plastic bricks, and you'll probably have a ship, or plane, or something else; who knows! I ask useful questions to deliver results, and I seek out help when I'm stumped. In short, I'm looking to grow and learn new things, because software engineering isn't just some replaceable cog in the machine to me, it's an art ...
        p Want to work with me? I'd love to chat!

        aside.nav-links#contact
            a.cutout(target="_blank" href="//github.com/Polytonic/").github GitHub
            a.cutout(target="_blank" href="//linkedin.com/in/tinycranes/").linkedin LinkedIn
            a.cutout(target="_blank" href="mailto:mail@tinycranes.com").email Mail
