// Local Stylesheets
@import "styles/colors"
@import "styles/layout"
@import "styles/header"
@import "styles/footer"
@import "styles/hamburger"
@import "styles/index"
@import "styles/portfolio"
@import "styles/entry"
@import "styles/archive"

// Brand Colors
.email,    .email:visited    { color: rgb(255, 203,   0); }
.facebook, .facebook:visited { color: rgb( 59,  89, 152); }
.github,   .github:visited   { color: rgb(108, 198,  68); }
.linkedin, .linkedin:visited { color: rgb(  0, 119, 181); }
.rss,      .rss:visited      { color: rgb(255, 102,   0); }
.twitter,  .twitter:visited  { color: rgb( 85, 172, 238); }

// Reset Hover Styles
.cutout:hover  { color: flame; }
.cutout:active { color: slate; }
