extends layout

block title
    title TinyCranes • Archive

block header
    include header

block content

    div.entry

        //- this is accidentally quadratic :(
        for year in years
            section.archive
                h1 #{year}
                for month in entries[year]
                    ul: li
                        a(href="/blog/#{year}/#{months[month]}/") #{month}
