footer.bottom

    nav
        ul
        li: a(href="/blog/latest/") Latest
        li: a Share
        li: a(href="/blog/archive/") Archive

    aside
        p © 2015 Kevin Fung
        p Handcrafted in Washington D.C.
