footer.bottom

    nav
        ul

            li: a(href="/blog/archive/") Archive
            li: a(href="/blog/latest/") Latest
            li: a(href="/rss.xml") RSS


    aside
        p © 2015 Kevin Fung
        p Handcrafted in Washington D.C.
