nav.hamburger-container
    a.hamburger-button: span
    ul.hamburger-links

        li: a(href="/") Home
        li: a(href="/#about") About
        li: a(href="/blog/") Blog
        li: a(href="/portfolio/") Portfolio
        li: a(href="/#contact") Contact
        li: a(href="#top") Back to Top
