nav.hamburger-container
    a.hamburger-button: span
    ul.hamburger-links

        li: a(href="/") Home
        li: a(href="/#about") About
        li: a(href="/#contact") Contact
        //- li: a(href="#") Posts
        li: a(href="/portfolio/") Projects
        li: a(href="#main") Back to Top
