header.navbar
    div.logotype
        h1: a(href="/") TinyCranes
    div.container
        nav.left
            a.cutout(href="/") Home
            //- a.cutout(href="/") Blog
            a.cutout(href="/portfolio/") Portfolio
            a.cutout(href="/#contact") Contact
        //- aside.right
        //-     a.cutout.facebook(href="/") F
        //-     a.cutout.twitter(href="/") T
        //-     a.cutout.rss(href="/") RSS
