header.navbar
    div.logotype
        h1: a(href="/") TinyCranes
    div.container
        nav.left
            a.cutout(href="/") Home
            a.cutout(href="/blog/") Blog
            a.cutout(href="/portfolio/") Portfolio
        aside.right
            //- a.cutout.facebook(href="/") F
            //- a.cutout.twitter(href="/") T
            a.cutout.rss(href="/rss.xml") RSS

//- https://developers.facebook.com/docs/sharing/best-practices
