header.navbar
    div.logotype
        h1: a(href="/") TinyCranes
    div.container
        nav.left
            a.cutout(href="/") Home
            a.cutout(href="/blog/") Blog
            a.cutout(href="/portfolio/") Portfolio
        aside.right
            a.cutout.facebook(href="http://www.facebook.com/sharer/sharer.php") F
            a.cutout.twitter(href="https://twitter.com/share") T
            a.cutout.rss(href="/rss.xml") RSS
