//- New Relic Browser Agent
if newrelic
    != newrelic.getBrowserTimingHeader()

//- Load Typekit Webfonts
script(data-cfasync="false" src="//use.typekit.net/igt0vbc.js")
script(data-cfasync="false").
    try{Typekit.load({});}catch(e){}

//- Load Google Analytics
script(async src="//www.google-analytics.com/analytics.js")
script.
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;ga("create", "UA-50551357-1", "auto");ga("send", "pageview");
