// New Color Definitions
slate = rgb( 45,  45,  50)
ivory = rgb(230, 230, 220)
cream = rgb(255, 250, 245)
brick = rgb(235,  45,  35)
flame = rgb(255,   0,   0)

.bg-slate
    background slate
.bg-ivory
    background ivory
.bg-cream
    background cream
.bg-brick
    background brick
.bg-flame
    background flame
