// Layout Adjustments
html, body

    background slate
    height 100%
    text-align center
    font-family "calluna-sans"
    text-rendering geometricPrecision

.wrapper

    display table
    height 100%
    margin 0 auto

.middle

    display table-cell
    vertical-align middle
