// Layout Adjustments
html, body

    background slate
    height 100%
    text-align center
    font-family "calluna-sans"
    text-rendering geometricPrecision

.wrapper

    display table
    height 100%
    margin 0 auto

.middle

    display table-cell
    vertical-align middle

.fixed

    position fixed
    width 100vw
    z-index 0

.push

    height 100%

.container

    min-height 100vh
    position relative
    z-index 100
    box-shadow 0em 0.5em 1.5em black

.content

    max-width 960px
    margin 0em auto
    text-align left
