// Layout Adjustments
html, body

    background slate
    height 100%
    text-align center
    font-family "calluna-sans"
    text-rendering geometricPrecision

.wrapper

    display table
    height 100%
    margin 0 auto

.middle

    display table-cell
    vertical-align middle

.fixed

    position fixed
    width 100vw
    z-index 0

.push

    height 100%

.container

    // min-height 100vh
    position relative
    z-index 100
    box-shadow 0rem 0.5rem 1.5rem black
    background ivory
    padding 0.5rem

.content

    border-radius 0.1rem
    box-shadow 0 0.1rem 0.25rem #aaa
    background cream
    text-align left
    // min-height 19em

.slide

    width 100%

.banner

    text-align center


.project-title

    padding-top 2rem
    font-size 3rem
    color brick
    font-weight bold
    text-rendering geometricPrecision

.project-subtitle

    font-size 1.5rem
    padding 0.5rem
    color slate + slate + slate
    text-rendering geometricPrecision

.text

    padding 1em
    color slate
    text-rendering geometricPrecision

.button

    background brick
    border-radius 0.125rem
    box-shadow 0rem 0.175rem 0.5rem rgba(0, 0, 0, 0.1)
    color cream
    display inline-block
    font-family "futura-pt"
    font-weight bold
    font-size 0.85rem
    letter-spacing 0.125rem
    min-width 80px
    padding 0.5em
    margin 0.5rem
    margin-top 1rem
    vertical-align bottom
    text-decoration none
    text-transform uppercase
    text-rendering auto
    transition all 0.25s ease-out

    &:hover

        background-color flame

    &:active

        background-color flame - slate - slate
