// Desktop Displays
@media (min-width 640px)

    .title
        font-size 3rem
    .subtitle
        font-size 1.5rem
    .contact
        margin 24px
    .links
        font-size 0.75rem

// Mobile Devices
@media (max-width 640px)

    .title
        font-size 11vw
    .subtitle
        font-size 5vw
    .contact
        margin 4vh
    .muted
        margin-bottom 4em
    .links
        font-size 0vw
