// Desktop Displays
@media (min-width 640px)

    .title
        font-size 3rem
    .subtitle
        font-size 1.5rem
    .contact
        margin 24px
    .links
        font-size 0.75rem
    .content
        margin 0.65rem

// Mobile Devices
@media (max-width 640px)

    .title
        font-size 11vw
    .subtitle
        font-size 5vw
        margin 0rem
    .contact
        margin 1rem
    .muted
        margin-bottom 4em
    .links
        font-size 0vw
    .content
        margin 0.25rem
        margin-bottom 0.75rem
    .text
        font-size 1.2rem
        line-height 1.4rem
