// Desktop Displays
@media (min-width 640px)

    .title
        font-size 3rem
    .subtitle
        font-size 1.5rem
    .contact
        margin 24px
    .links
        font-size 0.75rem

// Mobile Devices
@media (max-width 640px)

    .title
        font-size 10vw
    .subtitle
        font-size 5vw
    .contact
        margin-top 8vh
        margin-bottom 6vh
    .muted
        margin-bottom 24vh
    .links
        font-size 0vw
