div.pure-u-1.pure-u-sm-1-1.pure-u-md-2-5.pure-u-lg-3-10(data-scroll-reveal="ease-in after 0s")
    div.content

        div.banner
            h1.project-title Fidelis
            h2.project-subtitle Experimental Fiction
            a.button(href="static/fidelis.html" target="_blank") Play

        div.text
            :markdown

                Play from the perspective of an artificial intelligence. Your task, as programmed, is to participate in a variety of conversational tasks, such as, but not limited to: hearing confessions, accepting depositions, group therapy, and scientific research. For security reasons, your memory is erased every night. There's just one small catch ... you remember everything. What will you choose to do? Written using [Twine](//twinery.org/).
