div.pure-u-1.pure-u-sm-1-1.pure-u-md-2-5.pure-u-lg-3-10(data-scroll-reveal="ease-in after 0s")
    div.content

        div.carousel-flows
            div: img.slide(data-lazy="assets/flows.png")
            div: img.slide(data-lazy="assets/flows.png")
            div: img.slide(data-lazy="assets/flows.png")

        div.banner
            h1.project-title Flows
            h2.project-subtitle Particle Flow Manipulation
            a.button(href="http://scotttodd.github.io/Flows/" target="_blank") Play
            a.button(href="http://scotttodd.github.io/Flows/" target="_blank") Source

        div.text
            :markdown

                [Hello!](//github.com)
