div.pure-u-1.pure-u-sm-1-1.pure-u-md-2-5.pure-u-lg-3-10(data-scroll-reveal="ease-in after 0s")
    div.content

        div.banner
            h1.project-title Footsteps
            h2.project-subtitle Game Design Document
            a.button(href="static/footsteps.pdf" target="_blank") PDF

        div.text
            :markdown

                Footsteps is an isometric, action-roleplaying game for the PC and major consoles, in which players follow the captivating tale of a young prince and his mentor, journeying across a mysterious, magical world.  Unlike many other roleplaying games, Footsteps examines the various decisions that shape individuals as they mature, and explores a curious theme of progressive impairment.
