doctype html
html

    head

        //- Define Page Attributes
        title TinyCranes • Index
        meta(charset="utf-8")
        meta(name="viewport" content="minimal-ui, width=device-width")
        meta(name="author" content="Kevin Fung")
        meta(name="description" content="Freelance web development and software engineering. I make things. Let's chat!")

        //- Load Typekit Web Fonts
        script(src="//use.typekit.net/igt0vbc.js")
        script try{Typekit.load();}catch(e){}

        //- Load Required Stylesheets
        link(rel="stylesheet" href="index.css")

    body

        //- Vertically Centered Contents
        section.wrapper.fixed
            div.middle(data-scroll-reveal="enter top over 1s")

                //- Masthead
                h1.title Design is Visceral
                h3.subtitle Hey, I'm Kevin. I make elegant things.
                a.contact(href="mailto:mail@tinycranes.com") Contact Me

                //- Headlines
                aside.muted
                    h4.cycle Full-Stack Web Developer
                    h4.cycle Creative Problem-Solver
                    h4.cycle Aspiring Game Designer
                    h4.cycle Origami Enthusiast

            //- Navigation
            nav.links(data-scroll-reveal="enter bottom after 0.5s over 1s")
                a.cutout(href="#about") About
                a.cutout(href="#portfolio") Portfolio
                a.cutout(href="//github.com/Polytonic/" target="_blank") GitHub


        //- Push Portfolio Contents onto Next Viewport
        div.push


        section.container.bg-ivory
            div.content#portfolio
                p Walking the deck with quick, side-lunging strides, Ahab commanded the t'gallant sails and royals to be set, and every stunsail spread. The best man in the ship must take the helm. Then, with every mast-head manned, the piled-up craft rolled down before the wind. The strange, upheaving, lifting tendency of the taffrail breeze filling the hollows of so many sails, made the buoyant, hovering deck to feel like air beneath the feet; while still she rushed along, as if two antagonistic influences were struggling in her—one to mount direct to heaven, the other to drive yawingly to some horizontal goal. And had you watched Ahab's face that night, you would have thought that in him also two different things were warring. While his one live leg made lively echoes along the deck, every stroke of his dead limb sounded like a coffin-tap. On life and death this old man walked. But though the ship so swiftly sped, and though from every eye, like arrows, the eager glances shot, yet the silvery jet was no more seen that night. Every sailor swore he saw it once, but not a second time.
                p This midnight-spout had almost grown a forgotten thing, when, some days after, lo! at the same silent hour, it was again announced: again it was descried by all; but upon making sail to overtake it, once more it disappeared as if it had never been. And so it served us night after night, till no one heeded it but to wonder at it. Mysteriously jetted into the clear moonlight, or starlight, as the case might be; disappearing again for one whole day, or two days, or three; and somehow seeming at every distinct repetition to be advancing still further and further in our van, this solitary jet seemed for ever alluring us on.


        //- Load Required Scripts
        script(src="bower_components/jquery/dist/jquery.min.js")
        script(src="bower_components/scroll-reveal/dist/scrollReveal.min.js")
        script(src="index.js")
