div.pure-u-1.pure-u-sm-1-1.pure-u-md-2-5.pure-u-lg-3-10(data-scroll-reveal="ease-in after 0s")
    div.content

        div.carousel
            div: img.slide(data-lazy="assets/overburdened1.png")
            div: img.slide(data-lazy="assets/overburdened2.png")
            div: img.slide(data-lazy="assets/overburdened3.png")

        div.banner
            h1.project-title Overburdened
            h2.project-subtitle Population Control
            a.button(href="static/overburdened/" target="_blank") Play
            a.button(href="https://bitbucket.org/fungk/overburdened/" target="_blank") Source

        div.text
            :markdown
                Tasked with creating an experimental game based on overpopulation and limited space, we created Overburdened. In it, you control a burgeoning flock of birds, eating the food that appears. Feast to no end, and your flock will rapidly grow beyond its limits. Birds that fly off the edge cause the edge to gradually collapse inwards, constraining available space. Thus, there is no winning in Overburdened, only survival and prolonging the inevitable. Developed in a week, with [Cameron Chu](), [Reginald Franklin](//reggame.weebly.com/), [Arthur Jones](//arthurjonesportfolio.weebly.com/), [Adam Trager](//www.adamtrager.com/).
