div.pure-u-1.pure-u-sm-1-1.pure-u-md-2-5.pure-u-lg-3-10(data-scroll-reveal="ease-in after 0s")
    div.content

        div.banner
            h1.project-title Rotary
            h2.project-subtitle Game Pitch
            a.button(href="static/rotary.pdf" target="_blank") PDF

        div.text
            :markdown
                Rotary is a 2D, score-attack arcade game, for mobile devices with touch screens.  Inspired by Tetris, Brick Breaker, and Space Invaders, the basic gameplay concept revolves around shooting at harmful objects "falling" from the edge of the screen, towards an object they are tasked with protecting. Be careful not to shoot away your shields from within!
