div.pure-u-1.pure-u-sm-1-1.pure-u-md-2-5.pure-u-lg-3-10(data-scroll-reveal="ease-in after 0s")
    div.content

        div.banner
            h1.project-title Vertigo
            h2.project-subtitle Game Pitch
            a.button(href="static/vertigo.pdf" target="_blank") PDF

        div.text
            :markdown
                Vertigo is a science-fiction racing game, in which the primary thematic concept involves players competing on a racetrack set along the inner edge of a massive ringworld. The unique geometry of the ringworld causes the horizon to invert and instead rise above the player in the distance.  Traveling along the arc of the ring at high speeds creates the illusion of falling at extremely high, often lethal speeds.
