div.pure-u-1.pure-u-sm-1-1.pure-u-md-2-5.pure-u-lg-3-10(data-scroll-reveal="ease-in after 0s")
    div.content

        div.carousel
            div: img.slide(data-lazy="assets/winter1.png")
            div: img.slide(data-lazy="assets/winter2.png")
            div: img.slide(data-lazy="assets/winter3.png")

        div.banner
            h1.project-title Winter
            h2.project-subtitle Chase the Wolf
            a.button(href="static/winter/" target="_blank") Play
            a.button(href="//github.com/ludimation/Winter/" target="_blank") Source

        div.text
            :markdown
                Winter explores themes of pursuit, warmth, and catharsis. Shadow the wolf as it leads you through the forest, seeking something mysterious. Reach the end and discover a terrible truth. I helped brainstorm the concept, and later implemented the wolf navigation and path-finding algorithms. Made in Unity and featured in the [Rensselaer Game Showcase](//gamedev.union.rpi.edu/rgs-home/rgs/), with [David Allen](//ludimotion.com/), [Ryan Gimson](//github.com/Gimsor/), [Neale Johnson](//diokatsu.wix.com/portfolio/), and [Andrew Morris](//www.jump4r.com/).
