div.pure-u-1.pure-u-sm-1-1.pure-u-md-4-5.pure-u-lg-9-10(data-scroll-reveal="ease-in after 0s")
    div.content

        div.embed-container
            iframe(frameborder="0" allowfullscreen
                   src="//www.youtube.com/embed/gXCsACqufns?modestbranding=1&vq=hd1080&autohide=1&showinfo=0&controls=1&rel=0")

        div.banner
            h1.project-title Yesterday
            h2.project-subtitle Manipulate Time and Space
            a.button(href="https://bitbucket.org/fungk/yesterday" target="_blank") Source

        div.text
            :markdown
                With a core concept and theme inspired by [Contre temps](https://vimeo.com/71695621), Yesterday follows the story of a lost soul exploring the ruins of a flooded town. As the player progresses, they discover various timepieces, allowing him or her to turn back the clock and reveal more of the town. In this manner, we hope to highlight that Yesterday is not just an exploration in space, but also through time. I worked mainly on the color palette and visual design, as well as constructing the navigable areas in the town. This was also one of our first forays into [Unreal Engine 4](https://www.unrealengine.com/products/unreal-engine-4); built in half a semester, with [Cameron Chu](), [Arthur Jones](//arthurjonesportfolio.weebly.com/), [Katie Souza](), [Adam Trager](//www.adamtrager.com/).
