.archive
    margin 0rem auto
    width 90vw
    max-width 440px
    padding-top 1.5rem

    h1

        font-family "proxima-nova"
        margin-left 0.25rem

    ul

        margin-left 1rem

    li

        line-height 0rem

    a  { font-family: "calluna-sans"; font-weight: bold; }
    li { list-style: square; color: slate * 2 }
