// New Color Definitions
slate = rgba( 45,  45,  50, 1)
ivory = rgba(230, 230, 220, 1)
cream = rgba(255, 250, 245, 1)
brick = rgba(215,  25,  15, 1)
flame = rgba(255,   0,   0, 1)
blank = rgba(  0,   0,   0, 0)

// Opacity and Color Offsets
fade = rgba(   0,   0,   0, 0.25)
lift = rgba(   5,   5,   5, 1)
