mDesktopWidth = 1024px

.sidebar
    background-color orange

.entry

    width 100%
    background-color cream
    padding-bottom 2rem

    aside

        color orange
        text-align center
        margin 0rem auto
        // padding-top 1.5rem
        width 90vw
        max-width 640px

    blockquote

        font-size 1rem

    img

        display block
        margin 0rem auto

    article

        margin 0rem auto
        padding-top 1.5rem
        width 90vw
        max-width 640px

        color slate

        pre, iframe
            margin-bottom 1.6rem

        section
            text-rendering optimizeLegibility
            margin-left 0.15rem

        header
            margin-bottom 1rem

            h2

                margin-bottom 0.25rem
                line-height 2.25rem


            time

                font-family "proxima-nova", "Helvetica Neue", "Segoe UI", sans-serif
                font-weight bold
                color slate + slate + slate
                font-size 1.1rem
                margin-left 0.1rem


        @media only screen and (min-width: 860px)
            max-width 768px
            padding-left 10rem

.collapse

    margin-bottom 0.5rem
    position relative

.overflow

    font-family "calluna-sans", "Helvetica Neue", "Segoe UI", sans-serif
    font-weight bold
    padding-top 0.0rem
    padding-bottom 1.5rem

.text

    font-family "proxima-nova", "Helvetica Neue", "Segoe UI", sans-serif

.splash

    padding-bottom 1.25rem

// .gradient

//     position absolute
//     bottom 0
//     left 0
//     width 100%
//     margin 0
//     padding 3rem 0
//     background-image linear-gradient(to bottom, transparent, cream)
