mDesktopWidth = 1024px

.sidebar
    background-color orange

.entry

    width 100vw
    background-color cream
    padding-bottom 2rem

    blockquote

        font-size 1rem

    img

        display block
        margin 0rem auto

    article

        margin 0rem auto
        padding-top 1.5rem
        width 90vw
        max-width 640px

        color slate

        section
            text-rendering optimizeLegibility
            margin-left 0.15rem

        header
            margin-bottom 1rem

            h2

                margin-bottom 0.25rem
                line-height 2.25rem


            time

                font-family "proxima-nova"
                font-weight bold
                color slate + slate + slate
                font-size 1.1rem
                margin-left 0.1rem


        @media only screen and (min-width: 860px)
            max-width 768px
            padding-left 10rem

.collapse

    margin-bottom 0.5rem
    position relative

.overflow

    font-family "calluna-sans"
    font-weight bold
    padding-top 0.75rem
    padding-bottom 1.5rem

.text

    font-family "proxima-nova"

.gradient

    position absolute
    bottom 0
    left 0
    width 100%
    margin 0
    padding 3rem 0
    background-image linear-gradient(to bottom, transparent, cream)
