.bottom

    padding 1.5rem
    text-align center
    width 100vw
    margin-bottom 1rem

    ul


    li
        display inline

        margin 0
        padding 0


    li + li::before
        content "■"
        margin-bottom 0.25rem

    // aside
    a
        font-family "calluna-sans"
        font-weight bold
        display inline-block
        margin 0rem 1rem
        margin-bottom 1rem

    span

        color slate * 2

    p
        font-family "proxima-nova"
        font-weight bold
        margin 0
        padding 0
        line-height 1.75rem
        color slate * 3
