mDesktopWidth = 720px
mAnimationTime = 0.4s
mMenuOffset = 4vw

@keyframes bounce
    0%   { transform: scale(0.0); }
    60%  { transform: scale(1.2); }
    100% { transform: scale(1.0); }

@keyframes slide
    0%   { transform: translateX(7rem); }
    100% { transform: translateY(0); }


.hamburger-container

    @media only screen and (min-width: mDesktopWidth)
        &.fixed ul { max-width: 12rem; }

    ul
        border-radius 0.125rem
        box-shadow 0 0 0.5rem brick - fade - fade - fade
        width 100vw - 2 * mMenuOffset
        position fixed
        right mMenuOffset
        top 4rem
        background-color cream
        visibility hidden
        overflow hidden
        transform scale(0)
        transform-origin 100% 0%
        transition transform mAnimationTime, visibility mAnimationTime
        list-style-type none

        &.visible
            visibility visible
            transform scale(1)
            transition transform mAnimationTime, visibility mAnimationTime
            for row in 0..10
                li:nth-child({row})
                    animation slide 0.1s * row

        &.has-transitions
            transition transform mAnimationTime, visibility mAnimationTime

        &.collapsed
            transform scale(0)
            transition transform mAnimationTime


    li:last-child a { border-bottom: none; }
    li a
        display block
        padding 1rem 2rem
        margin-left -2rem
        border-bottom 1px solid ivory - fade - fade
        color brick
        font-weight bold
        transition all mAnimationTime  * 0.75
        &:hover
            color flame
            background-color cream + lift


.hamburger-button
    background-color cream
    border-radius 0.125rem
    box-shadow 0 0 0.5rem brick - fade - fade - fade
    cursor pointer
    position fixed
    top 1rem
    right mMenuOffset
    height 2.5rem
    width 2.5rem

    span

        position absolute
        display block
        width 20px
        height 3px
        background brick
        top 50%
        left 50%
        margin -1px -10px
        transition background mAnimationTime, transform mAnimationTime
        transform rotate(0deg)
        &::after  { transform: rotate(180deg); bottom -6px; }
        &::before { transform: rotate(180deg); top -6px; }
        &::before, &::after
            content ""
            position absolute
            left 0
            background brick
            width 100%
            height 100%
            transition transform mAnimationTime

    &.expanded span
        background blank
        transform rotate(180deg)
        transition transform mAnimationTime
        &::after  { transform: rotate( 45deg); bottom 0; }
        &::before { transform: rotate(-45deg); top 0; }

    @media only screen and (min-width: mDesktopWidth)
        visibility hidden
        transform scale(0)
        transition transform mAnimationTime, visibility mAnimationTime

        .fixed &
            visibility visible
            transition all mAnimationTime
            transform scale(1)
            animation bounce mAnimationTime ease-in-out
