mDesktopWidth = 568px
.navbar

    background-color slate
    height 5.5rem

    .logotype


        padding-top 1rem
        margin-left 2rem

        a
            color cream - lift - lift

    .container
        display none

@media only screen and (min-width: mDesktopWidth)

    .logotype

        display none

    .navbar

        background-color cream
        height 3.75rem

    .container
        display block !important
        margin 0rem auto
        width 90vw
        max-width 1024px
        padding-top 1rem

        .left

            float left
            left 0

            .cutout
                margin-left 0.5rem
                margin-right 0.5rem

        .right

            float right
            right 0

            .cutout

                min-width 0
                margin-left 0.25rem
                margin-right 0.25rem


