mMobileWidth = 640px

.masthead

    background-color cream
    height 100vh
    width 100vw
    display table-cell
    vertical-align middle
    text-align center

    h2
        color slate * 1.5
        .spacer { display: none; }
        @media only screen and (max-width: mMobileWidth)
            .spacer { display: inline; }
            font-size 2rem
            margin-bottom @font-size * 3.5

.about

    min-height 100vh
    padding-top 2rem
    margin 3rem auto
    max-width mMobileWidth
    width 90vw
    color ivory

    h4

        color ivory
        text-align center

    .avatar

        margin 3rem auto
        border-radius 50%
        border 0.15rem solid cream
        display block
        height 6rem

nav.nav-links
    text-align center
    position absolute
    bottom 5vh
    left 0
    right 0

aside.nav-links
    margin 3rem auto
    padding-bottom 4rem
    text-align center

.cutout

    border 0.24rem solid
    color brick
    display inline-block
    font-family "calluna-sans"
    font-size 0.75rem
    font-weight 900
    margin auto 0.8rem
    min-width 4rem
    padding 0.05rem 0.4rem
    text-transform uppercase
    transition all 0.15s ease-out

    &:hover  { color: flame; text-decoration: none; }
    &:active { color: slate * 3; }

// Corporate Brand Colors
.github   { color: rgb(108, 198,  68); }
.linkedin { color: rgb(  0, 119, 181); }
.email    { color: rgb(255, 203,   0); }
