// Layout Adjustments
html, body

    background slate
    height 100%
    margin 0em auto
    text-rendering geometricPrecision

a, a:active, a:focus

    color brick
    // font-weight bold
    text-decoration none
    outline none

a:hover  { color: flame; }
a:active { color: slate; }

h1, h2, h3, h4, h5, h6
    font-family "calluna-sans"

*
    hyphens none !important
    word-break keep-all !important
