// Layout Adjustments
html, body

    background cream
    height 100%
    min-height 100%
    margin 0em auto
    text-rendering geometricPrecision
    position relative

a, a:active, a:focus

    color brick
    text-decoration none
    outline none

a:hover  { color: flame; }
a:active { color: slate; }

h1, h2, h3, h4, h5, h6
    font-family "calluna-sans", "Helvetica Neue", "Segoe UI", sans-serif
    text-rendering geometricPrecision

p
    font-family "proxima-nova", "Helvetica Neue", "Segoe UI", sans-serif
    text-rendering optimizeLegibility

*
    hyphens none !important
    word-break keep-all !important
